.jalan {
    font-family: 'yg-jalnan';
}

.GmarketS {
    font-family: 'GmarketSansLight';
}

.GmarketM {
    font-family: 'GmarketSansMedium';
}

body {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

html {
    width: 100vw;
    height: 100vh;
}

#root{
    width: 100vw;
    height: 100vh;
}

.App{
    width: 100%;
    height: 100vh;
}

.wrapContent{
    background-color: #f5f5f5;
    height: 500px;
}

.wrapContent::-webkit-scrollbar {
    display: none;
}

.challengeTitle{
    color: #F77E22;
    font-size: 40px;
    padding-right: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 0px;
}

.challengeContent{
    width: 80%;
    height: 60%;
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
}

table{
    width: 80%;
    margin: auto;
    text-align : center;
}

.challengeNav{
    font-size: 30px;
    color: #696969;
}

th{
    padding-bottom: 20px;
}

.challengeList{
    font-size: 25px;
}

.challengeBtn{
    font-size: 20px;
    width: 120px;
    height: 50px;
    color: white;
    background: linear-gradient(180deg, #FAC214 0%, #F77E22 100%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 8px;
}

.newBtn {
    width: 215px;
    height: 70px;
    font-size: 20px;
    background: #FFFFFF;
    border: 5px solid #FAC214;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 25px;
    margin-top: 10px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover{
        background: #FAC214;
        color: white;
            transition: all 0.5s;

        #circle{
            background: white;
            
        }
        #imgArrow{
            content: url(../../image/icon_arrow.png);

        }
        
    }


}

#imgArrow {
    margin-top: 0px;
    transition: all 1s;
}

#circle {
    margin-left: 15px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    left: 799px;
    top: 645px;
    background: linear-gradient(90deg, #FAC214 0%, #F77E22 153.41%);
    transition: all 1s;
}

.modalCont{
    font-size: 20px;
}

.modalTitle{
    float: left;
    margin-left: 20px;
    margin-top: 35px;
}

.type{ 
    width: 72px;
    padding: 20px;
    border: 1px solid #696969;
    background-color: white;
    margin: 5px;
    font-size: 15px;
    border-radius: 20px;
}

.clicked {
    width: 72px;
    padding: 20px;
    background-color: white;
    margin: 5px;
    border: 1px solid #F77E22;
    color:#F77E22;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;

  }

  .inputTitle{
    width: 400px;
    height: 30px;
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: 15px;
    border: 1px solid #696969;
    border-radius: 20px;
    padding-left: 10px;
  }

  .regBtn{
    width: 185px;
    height: 70px;
    font-size: 20px;
    background: #FFFFFF;
    border: 5px solid #FAC214;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 25px;
    margin-top: 10px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover{
        background: #FAC214;
        color: white;
            transition: all 0.5s;

        #circle{
            background: white;
            
        }
        #imgArrow{
            content: url(../../image/icon_arrow.png);

        }
        
    }

  }