
.startBtn {
    width: 195px;
    height: 70px;
    font-size: 20px;
    background: #FFFFFF;
    border: 5px solid #FAC214;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 25px;
    margin-top: 40px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover{
        background: #FAC214;
        color: white;
            transition: all 0.5s;

        #circle{
            background: white;
            
        }
        #imgArrow{
            content: url(../../image/icon_arrow.png);

        }
        
    }


}

#imgArrow {
    margin-top: 0px;
    transition: all 1s;
}

#circle {
    margin-left: 15px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    left: 799px;
    top: 645px;
    background: linear-gradient(90deg, #FAC214 0%, #F77E22 153.41%);
    transition: all 1s;
}

.fileImage{
    margin: auto;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: 100px;
}

footer {
    padding: 20px;
    text-align: center;
}

.uploadBtn{
    margin-left: 230px;
    width: 180px;
    height: 70px;
    font-size: 20px;
    background: #FFFFFF;
    border: 5px solid #FAC214;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
        background: #FAC214;
        color: white;
        transition: all 0.5s;

        #circle {
            background: white;

        }

        #imgArrow {
            content: url(../../image/icon_arrow_hover.png);

        }
    }
}


.inputCont{
    width: 400px;
    height: 70px;
    margin-top: 35px;
    font-size: 15px;
    border: 1px solid #696969;
    border-radius: 20px;
    padding-left: 10px;
  }