.jalan {
  font-family: "yg-jalnan";
}

.GmarketS {
  font-family: "GmarketSansLight";
}

.GmarketM {
  font-family: "GmarketSansMedium";
}

body {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

html {
  width: 100vw;
  height: 100vh;
}

.wrapContent {
  background-color: #f5f5f5;
}

.challengeHeader {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.challengeTitle {
  color: #f77e22;
  font-size: 40px;
}

.challengeSearch {
  width: 220px;
  height: 30px;

  border-radius: 10px;
  border: solid 1px #efefef;

  font-size: 12px;
}

.challengeContent {
  width: 75vw;
  height: 60vh;
  background: white;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  overflow: auto;
}

.challengeContent::-webkit-scrollbar {
  display: none;
}

.challengeTable {
  width: 75vw;
  margin: auto;
  text-align: center;
}

.challengeNav {
  font-size: 30px;
  color: #696969;
}

th {
  padding-bottom: 20px;
}

.challengeList {
  font-size: 25px;
  overflow: auto;
}

.challengeList::-webkit-scrollbar {
  display: none;
}

.challengeBtn {
  font-size: 20px;
  width: 9vw;
  height: 7vh;
  color: white;
  background: linear-gradient(180deg, #fac214 0%, #f77e22 100%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 8px;
  Link {
    text-decoration: none;
    color: white;
  }
}

.newBtn {
  width: 14vw;
  height: 10vh;
  font-size: 20px;
  background: #ffffff;
  border: 5px solid #fac214;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: auto;
  padding-left: 25px;
  margin-top: 10px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    background: #fac214;
    color: white;
    transition: all 0.5s;

    #circle {
      background: white;
    }
    #imgArrow {
      content: url(../../image/icon_arrow.png);
    }
  }
}

#imgArrow {
  margin-top: 0px;
  transition: all 1s;
}

#circle {
  margin-left: 15px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  left: 799px;
  top: 645px;
  background: linear-gradient(90deg, #fac214 0%, #f77e22 153.41%);
  transition: all 1s;
}

.modalCont {
  font-size: 20px;
}

.modalTitle {
  float: left;
  margin-left: 20px;
  margin-top: 35px;
}

.type {
  width: 72px;
  padding: 20px;
  border: 1px solid #696969;
  background-color: white;
  margin: 5px;
  font-size: 15px;
  border-radius: 20px;
}

.clicked {
  width: 72px;
  padding: 20px;
  background-color: white;
  margin: 5px;
  border: 1px solid #f77e22;
  color: #f77e22;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
}

.inputTitle {
  width: 35vw;
  height: 30px;
  margin-top: 35px;
  margin-bottom: 40px;
  font-size: 15px;
  border: 1px solid #696969;
  border-radius: 20px;
  padding-left: 10px;
}

.regBtn {
  width: 185px;
  height: 70px;
  font-size: 20px;
  background: #ffffff;
  border: 5px solid #fac214;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: auto;
  padding-left: 25px;
  margin-top: 10px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    background: #fac214;
    color: white;
    transition: all 0.5s;

    #circle {
      background: white;
    }
    #imgArrow {
      content: url(../../image/icon_arrow.png);
    }
  }
}

.challengeNavNo {
  width: 10%;
}

.challengeNavCategory {
  width: 10%;
}

.challengeNavChallenge {
  width: 10%;
}
