
@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
}

.notoSans {
  font-family: 'Noto Sans KR', sans-serif;
}

.logo {
  color: #F77E22;
  font-size: 36px;
  font-family: 'yg-jalnan';
  margin-top: 7%;
  margin-bottom: 25px;
}

.inputForm {
  display: block;
  margin: auto;  
  margin-top: 10px;
  width: 500px;
  height: 40px;
  font-size: 15px;
  text-align: left;
}

input::placeholder{
  font-size: 15px;
  padding-left: 5px;
}

.errorEmail{
  font-size: 13px;
  color: red;
  font-weight: bold;
}

.correctEmail{
  font-size: 13px;
  color: green;
  font-weight: bold;
}

.errorPw{
  font-size: 13px;
  color: red;
  font-weight: bold;
}

.correctPw{
  font-size: 13px;
  color: green;
  font-weight: bold;
}

.verify-btn {
  width: 500px;
  margin-top: 10px;
  height: 50px;
  font-size: 20px;
  background-color: rgba(250, 194, 20, 1);
  border-color: rgba(221, 172, 18, 1);
  border-style: solid;
}



@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}