.Modal{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    //display:none;
    background-color:#F5F5F5;
}
    .Friend{
        margin: 25px 22px 0 22px;
        width: 570px;
        height: 54px;
        border: 1px soild #babd43;
    }

    .Profile{
        display: flex;
        margin: 30px,0,0,22px;
        width: 308px;
        height: 62px;
        .ProfileImage{
            width:64px;
            height:66px;
            border-radius:70px;
            border: 3px solid #c1e6dd;
        }
        
        .ProfileInfo{
            max-width: 320px;
            height: 69px;

            p{
                display:flex;
                font-family: 'Gmarket Sans TTF';
                font-size: small;
            }

            p:last-child{
                color:#797979;
            }

        }
    }