.header {
    display: flex;
    width: 100%;
    height: 85px;

    .logo {
        margin-top: 6px;
        padding: 20px 0 0 10px;
        width: 250px;
        height: 89px;
        color: #F77E22;
        font-family: 'Jalnan';
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
    }

    .routePage {
        display:flex;
        margin-top: 27px;
        margin-left: 10vw;
        width: 40vw;
        height: 40px;
        justify-content: space-between;

        :link{
            text-decoration: none;
        }
        
        span {
            height: 40px;
            font-family: 'Noto Sans KR';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 36px;
            color: #696969;
        }
    
        span:hover{
            font-weight: 700;
            color: #F77E22;
        }
    }
}
.loginBtn{
    margin-left: auto;
    margin-right: 150px;
    margin-top: 23px;
    height:42px;
    width:100px;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 20px;
    color: #3C3C3C;
    border-radius: 20px;
    border:1px solid white;
}

