.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 95px;
    background-color: white;

    .headerLogo {
        margin-left: 50px;
        height: 89px;
        color: #F77E22;
        font-family: 'Jalnan';
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        white-space:nowrap;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerRoutePage {
        display:flex;
        margin-left: 10px;
        margin-right: 10px;
        width: 480px;
        height: 100%;
        justify-content: space-between;
        align-items: center;

        :link{
            text-decoration: none;
        }
        
        span {
            height: 40px;
            font-family: 'Noto Sans KR';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 36px;
            color: #696969;
        }
    
        span:hover{
            font-weight: 700;
            color: #F77E22;
        }
    }

    .headerLoginBtn{
        margin-right: 50px;
        height:42px;
        width:104px;
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 20px;
        color: #3C3C3C;
        border-radius: 20px;
        border:1px solid white;
    }
}

@media (max-width: 660px){
    .header{
        flex-direction: column;
        height:auto;

        .headerLogo{
            margin-left: 0px;
        }

        .headerRoutePage{
            justify-content: space-between;
            display: flex;
            width: 100%;

            a{
                flex: 1;
            }
        }

        .headerLoginBtn{
            margin-top: 25px;
            margin-right: 0px;
            margin-bottom: 25px;
        }
    }
}