.jalan {
    font-family: 'yg-jalnan';
}

.GmarketS {
    font-family: 'GmarketSansLight';
}

.GmarketM {
    font-family: 'GmarketSansMedium';
}

.Header {
@font-face {
    font-family: 'Jalnan';
    src: url('../../font/Jalnan.ttf');
}
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: space-between;
    align-items: center;

    .HeaderLogo {
        margin-left: 20px;
        height: 100%;
        color: #F77E22;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 26px;

        white-space: nowrap;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .HeaderPages {
        display:flex;
        width: 40vw;
        height: 40px;
        justify-content: space-between;

        :link{
            text-decoration: none;
        }
        
        span {
            height: 40px;
            font-family: 'Noto Sans KR';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 36px;
            color: #696969;
        }
    
        span:hover{
            font-weight: 700;
            color: #F77E22;
        }
    }
    
    .HeaderLogin{
        height:42px;
        width:100px;
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 20px;
        color: #3C3C3C;
        border-radius: 20px;
        border:1px solid white;

        margin-right: 20px;
    }
}