.card {
  width: 380px;
  margin-left: 23px;
  margin-bottom: 50px;
  list-style-type: none;
  float: left;
  cursor: pointer;
}

.card_body {
  width: 380px;
  height: 68px;
  // 원래 피그마에선 98px인데 사이즈가 이상해서 그냥 얼추 비슷해보이게 수정했어요
  // padding: 10px 26px;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 20px;
  // 이것도 원래 padding 19px 26px인데 이것도 얼추 비슷해보기에 수정했어요
  // margin-left: 75px;
  margin-top: -18px;
  margin-bottom: 29px;

  border-radius: 20px;
  border-color: rgba(250, 194, 20, 1);
  border-style: solid;
  border-width: 3px;

  box-shadow: 8px 5px 8px rgba(250, 194, 20, 1);
  background-color: rgba(255, 254, 241, 1);

  font-family: GmarketSansLight;
  display: flex;
}

.routine_icon {
  width: 75px;
  height: 54px;
  font-size: 54px;
  display: flex;
  margin-top: -4px;
  margin-left: 6px;
}

.routine_title {
  font-size: 30px;
  margin-top: -16px;
}

.routine_streaks {
  font-size: 25px;
  margin-left: -13px;
}

.alarm {
  max-height: 20.99px;
  max-width: 22.61px;
  margin-bottom: -1px;
  margin-right: 5px;
  opacity: 0.5;
}

.card_alarm {
  font-size: 25px;
  // background-color: orange;
  // margin-left: 205px;
  margin-left: 50px;
  margin-top: -12px;
  color: rgba(132, 132, 132, 1);
}