.card {
  width: 23.75rem;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 0rem;
  list-style-type: none;
  float: left;
  cursor: pointer;
}

.rtDone {
  opacity: 0.5;
  background-color: white;
}


.card_body {
  position: relative;

  width: 380px;
  height: 175px;
  color: black;

  border-radius: 1.25rem;
  border-color: rgba(250, 194, 20, 1);
  border-style: solid;
  border-width: 0.188rem;

  box-shadow: 0.5rem 0.313rem 0.5rem rgba(250, 194, 20, 1);
  background-color: rgba(255, 254, 241, 1);

  font-family: GmarketSansLight;
  display: flex;

  justify-content: center;
  align-items: center;
}

.routine_icon {
  width: 40px;
  height: 40px;
  font-size: 2.8rem;
  display: flex;

  justify-content: center;
  align-items: center;

  margin-left: 25px;
  margin-right: 15px;
  position:relative;
}

.routine_info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 40px;
}

.routine_title {
  font-size: 1.875rem;
  margin-top: -1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 16.25rem;

  position:relative;
}

.routine_streaks {
  font-size: 1.563rem;
  margin-left: -0.813rem;
  position:relative;
}

.alarm {
  max-height: 1.312rem;
  max-width: 1.413rem;
  margin: 0rem 0.313rem -0.063rem 0rem;
  opacity: 0.5;
}

.card_alarm {
  font-size: 1.563rem;
  margin-top: 20px;
  color: rgba(132, 132, 132, 1);
  width: 23.75rem;
  z-index: 1;
}

.doneClick {
  width: 100%;
  height: 100%;
  position:absolute;
  left:0px;
  top:0px;
  opacity: 0.5;
}

.card_wrapper{
  margin-left: 40px;
  margin-right: 40px;

  display: flex;
  flex-direction: row;
}

.card_scroller{
  overflow: scroll;

  display: flex;
  flex-direction: row;
}