.card {
  width: 23.75rem;
  margin: 0rem 0rem 3.125rem 4.313rem;
  padding-left: 0rem;
  list-style-type: none;
  float: left;
  cursor: pointer;
}

.rtDone {
  opacity: 0.5;
  background-color: white;
}


.card_body {
  width: 22.5rem;
  height: 4.25rem;
  padding: 0.813rem 0rem 0.625rem 1.25rem;
  margin: 0rem 0rem 1.813rem 0rem;
  color: black;

  border-radius: 1.25rem;
  border-color: rgba(250, 194, 20, 1);
  border-style: solid;
  border-width: 0.188rem;

  box-shadow: 0.5rem 0.313rem 0.5rem rgba(250, 194, 20, 1);
  background-color: rgba(255, 254, 241, 1);

  font-family: GmarketSansLight;
  display: flex;
}

.routine_icon {
  width: 4.688rem;
  height: 3.375rem;
  font-size: 3.375rem;
  display: flex;
  margin: -0.25rem -0.625rem 0rem 0.375rem;

  position:relative;
}

.routine_title {
  font-size: 1.875rem;
  margin-top: -1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 16.25rem;
  height: 2.063rem;

  position:relative;
}

.routine_streaks {
  font-size: 1.563rem;
  margin-left: -0.813rem;
  position:relative;
}

.alarm {
  max-height: 1.312rem;
  max-width: 1.413rem;
  margin: 0rem 0.313rem -0.063rem 0rem;
  opacity: 0.5;
}

.card_alarm {
  font-size: 1.563rem;
  padding-left: 0.938rem;
  margin-top: -0.75rem;
  color: rgba(132, 132, 132, 1);
  width: 23.75rem;
  z-index: 1;
}

.doneClick {
  width: 25rem;
  height: 10rem;
  margin-top: -5.625rem;
  margin-left: -5.938rem;
  position:absolute;
  opacity: 0.5;
  z-index: 99;
}
