.card {
  width: 380px;
  margin: 0px 0px 50px 23px;
  list-style-type: none;
  float: left;
  cursor: pointer;
  position: relative;
}

.card_body {
  width: 380px;
  height: 68px;
  padding: 13px 0px 10px 20px;
  margin: -18px 0px 29px 0px;

  border-radius: 20px;
  border-color: rgba(250, 194, 20, 1);
  border-style: solid;
  border-width: 3px;

  box-shadow: 8px 5px 8px rgba(250, 194, 20, 1);
  background-color: rgba(255, 254, 241, 1);

  font-family: GmarketSansLight;
  display: flex;
}

.routine_icon {
  width: 75px;
  height: 54px;
  font-size: 54px;
  display: flex;
  margin: -4px 0px 0px 6px;
}

.routine_title {
  font-size: 30px;
  margin-top: -16px;
}

.routine_streaks {
  font-size: 25px;
  margin-left: -13px;
}

.alarm {
  max-height: 20.99px;
  max-width: 22.61px;
  margin: 0px 5px -1px 0px;
  opacity: 0.5;
}

.card_alarm {
  font-size: 25px;
  // background-color: orange;
  // margin-left: 205px;
  margin-left: 50px;
  margin-top: -12px;
  color: rgba(132, 132, 132, 1);
}