.routineWrapContent{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.routine {
  margin-left: 3.438rem;
  text-align: left;
  font-size: 2.5rem;
  font-family: GmarketSansMedium;
  clear: left;
}

@media (max-width: 660px){
  .routine{
    font-size: 1.25rem;
  }
}

.progress {
  width: 75%;
  height: 2.125rem;
  border-radius: 3.125rem;
  background-color: rgba(217, 217, 217, 1);
  margin: auto;

  margin-top: 40px;
  margin-bottom: 40px;
}

.progress-done {
  height: 100%;
  background-color: rgba(250, 194, 20, 1);
  border-radius: 3.125rem;
  text-align: right;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
