.header{
    width:1440px;
    height:95px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 95px; 
    align-items: center;
    justify-content: space-between;
    
    
}
.God{
    color: #F77E22;
    font-family: 'yg-jalnan';
    font-size: 36px;
    text-align:left;
}

.a{
    color: #F77E22;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: bold;
    word-spacing: 100px;
    vertical-align: top;
    text-align:justify;
}

.b{
    color: #696969;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: medium;
}

.c{
    color: #696969;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    font-weight: medium;
}

.d{
    color: #3c3c3c;
    font-family: 'Noto Sans KR';
    font-size: 20px;
    font-weight: medium;
}