.BackGround{
    background-color:#F5F5F5;

    .Main{
        display: table;
        margin: 0 auto;
        width: 604px;
        height: 753px;
        
        .Date{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 57px;
            margin: 58px auto 0;
            font-family: 'Gmarket Sans TTF';
            font-weight: 500;
            font-size: 30px;
            color: #696969;
        }

        .Picture{
            width: 604px;
            height: 467px;
        }

        .Profile{
            display: flex;
            margin-top: 25px;
            width: 403px;
            height: 73px;

            .ProfileImage{
                margin-left: 5px;
                width:64px;
                height:66px;
                border-radius: 70px;
                border: 3px solid #C1E6DD;
            }

            .ProfileInfo{
                margin-left:13px;
                width:135px;
                height:36px;
                font-family: 'Gmarket Sans TTF';
                font-weight: 500;
                font-size:30px;
            }
        }

        .Write{
            margin-top: 17px;
            width: 604px;
            font-family: 'Gmarket Sans TTF';
            font-weight: 300;
            font-size: 25px;
            text-align: left;
        }

        .Option{
            display:flex;
            width:230px;

            span{
                margin-left: 0;
                font-family: 'Gmarket Sans TTF';
                font-weight: 500;
                font-size: 25px;
            }

            span:last-child{
                margin-left: 14px;
            }
        }
    }

    .mainImg{
        width: 604px;
        height: 467px;
    }

    .FriendBack{
        background-color: #F5F5F5;
    }

    .FriendSearch{
        margin: 25px 22px 0 22px;
        width: 570px;
        height: 54px;
        border: 1px soild #babd43;
    }

    .Friend{
        display: flex;
        margin: 30px,0,0,22px;
        width: 308px;
        height: 62px;

        .FriendImage{
            width:64px;
            height:66px;
            border-radius:70px;
            border: 3px solid #c1e6dd;
        }

        .FriendInfo{
            display:flex;
            width: 320px;
            height: 69px;

            p{
                display:flex;
                font-family: 'Gmarket Sans TTF';
                font-size: small;
            }

            p:last-child{
                color:#797979;
            }

        }
    }
}