.CommentComponentWrapper {
  margin-top: 5px;
  padding: 5px;
}

.CommentsWrapper {
}

.CommentWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 3px;
  margin-bottom: 6px;
}

.CommentNameWrapper {
  font-weight: 900px;
  font-size: 16px;
}

.CommentContentWrapper {
  font-size: 16px;

  text-align: start;
}

.CommentInputWrapper {
  display: flex;
  margin-top: 12px;
}

.CommentInput {
  flex: 1;

  margin-right: 12px;
  border: 0px black solid;
  border-bottom: 1px #999999 solid;
}

.CommentSubmit {
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #3797f0;
  color: white;
  border-radius: 7px;

  height: 28px;
  width: 80px;
}
